.placesoptions {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.placesoption-wrapper {
  margin: 5px 0;
}

.placesoption {
  background-color: white;
  color: #007BFF;
  border: 2px solid black;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.placesoption:hover {
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.placesoption--active {
  background-color: #e0e0e0;
  border: 2px solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
